<h1>Welcome, <%= @user.name %></h1>
<h2>Boxes</h2>
<div class="container">
  <form action="/boxes/new" method="get">
    <input type="submit" value="Create Box"/>
  </form>
</div>
<% @user.boxes.each do |box| %>
  <h3><a href="/boxes/<%= box.id %>"><%= box.name %> Box</a></h3>
  <p></p>
  <% box.items.each do |item| %>
    <!-- List box items -->
    <h4><a href="/items/<%= item.id %>"><%= item.name %></a></h4>
    <p><%= item.description %></p>
  <% end %>
<% end %>
