<h1>All Boxes</h1>
<% if flash[:message] %>
  <p class="error"><%= flash[:message] %></p>
<% end %>

<% User.all.each do |user| %>
  <h2><%= user.name %> (<%= user.username %>)</h2>
  <% if user.boxes.empty? %>
    User does not have any boxes yet!
  <% else %>
    <% user.boxes.each do |box| %>
      <a href="/boxes/<%= box.id %>"><%= box.name %></a><br><br>
    <% end %>
  <% end %>
<% end %>
