<h1><%= @box.name %></h1>
  <form action="/boxes/<%= @box.id %>/edit" method="get">
    <div class="container">
      <input type="submit" value="Edit Box"/>
    </div>
  </form>
  <form action="/boxes/<%= @box.id %>/delete" method="post">
    <div class="container">
      <input type="hidden" id="hidden" name="_method" value="delete"/>
      <input type="submit" value="Delete Box"/>
    </div>
  </form>
<h2>Items</h2>
<br>
<% @box.items.each do |item| %>
  <a href="/items/<%= item.id %>"><%= item.name %></a><br>
  <p><%= item.description %></p><br>
<% end %>
<% if @box.user_id == current_user.id %>
  <a href="/items/new">Create Item</a>
<% end %>
<br>
<br>
<br>

