<h1>All of <%= @user.name %>'s Items</h1>
<% if flash[:message] %>
  <p class="error"><%= flash[:message] %></p>
<% end %>

<div class="container">
  <form action="/items/new" method="get">
    <input type="submit" value="Create Item"/>
  </form>
</div>
<br>
<table style="width:100%">
  <tr>
    <th>Box</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @user.boxes.each do |box| %>
    <% box.items.each do |item| %>
      <tr>
        <td><a href="/boxes/<%= box.id %>"><%= box.name %></a></td>
        <td><a href="/items/<%= item.id %>"><%= item.name %></a></td>
        <td><%= item.description %></td>
      </tr>
    <% end %>
  <% end %>
</table>
