<h2><%= @item.name %></h2>
<h3>Description: <%= @item.description %></h3>
<h3>Box: <a href="/boxes/<%=@item.box.id %>"><%= @item.box.name %></a></h3>
<br>
<div class="container">
  <form action="/items/<%= @item.id %>/edit" method="get">
    <input type="submit" id="Edit Item" value="Edit Item"/>
  </form>
  <form action="/items/<%= @item.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete"/>
    <input type="submit" id="Delete Item" value="Delete Item"/>
  </form>
</div>
